.head-title-909{
	font-family: 'TR-909'; 
	font-size: 8vw; 
	color: #fff; 
	-webkit-text-stroke: 0.2vw white;
}

.text-title-909{
	font-family: 'TR-909';
	font-size: 5vw;
	color: #fff;
	justify-content: center;
}

.bio-image-909{
	max-width: 30vw;
}

.text-bold-909{
	padding-top: 20px; 
	padding-bottom: 5px;
}

.text-909{
	font-size: 16px;
	color: white;
}

.md-tab:first-child{color: #fff !important; } 
 .md-tab:nth-child(2){color: #fff !important; } 
  .md-tab:nth-child(3){color: #fff !important; } 
   .md-tab:nth-child(4){color: #fff !important; } 
    .md-tab:nth-child(5){color: #fff !important; } 
     .md-tab:nth-child(6){color: #fff !important; } 
      .md-tab:nth-child(7){color: #fff !important; } 
       .md-tab:nth-child(8){color: #fff !important; } 
        .md-tab:nth-child(9){color: #fff !important; } 


.grayscale-909{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.divider-909{
	padding-top: 19px;
}

.divider-x2-909{
	padding-top: 38px;
}